/*顶部区域*/
.top{
    height: 60px;
    width: 100%;
    background-color: red;
}
/*广告区域*/
.banner{
    height: 860px;
    width: 100%;
    background-color: green;
}
/*内容区域*/
.content{
    height: 1883px;
    width: 100%;
    background-color: blue;
}
/*底部区域*/
.footer{
    height: 396px;
    width: 100%;
    background-color: yellow;
}